[Unit]
Description=homeauto
After=syslog.target

[Service]
User=pi
ExecStart=/bin/sh /usr/share/homeauto/start.sh
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
